body {
    background-color: rgba(128, 0, 128, 0.8);
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

h2 {
    color: rgba(2, 2, 120, 0.8);
    font-size: 38px;
    cursor: pointer;
}

form {
    width: 300px;
    background-color: rgb(120, 120, 120);
    padding: 25px;
    border-radius: 40px;
    text-align: center;
    height: 400px;
}

#username,
#password {
    width: 75%;
    height: 30px;
    border: none;
    border-radius: 15px;
}

#submit {
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(2, 2, 120, 0.8);
    color: white;
}

#submit:hover {
    background-color: rgba(0, 0, 255, 0.8);
}

a:link,
:visited {
    color: white;
}

a:hover,
:active {
    color: rgba(2, 2, 120, 0.8);
}