body {
    background-color: gray;
}

caption {
    font-size: 30px;
    font-family: B Koodak;
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    font-family: B Koodak;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 2px solid black;
    height: 70px;
}